.dashpage{
    height: fit-content;
    width: 80%;
    background-color: #e7d8ee;
    
}
.dashContents{
    display: flex;
    justify-content: space-between;
    height: 87vh;
    width: 100%;
    border: 1px solid green;
    box-sizing: border-box;
    padding: 2vh;
}
.dashleft{
    width: 74%;
    height: 100%;

    border-radius: 4%;
}
.dashright{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    justify-content: space-between;
    box-sizing: border-box;
    width: 24%;
    height: 100%;
 
    border-radius: 4%;
    
}
.dashlefttop{
    height: 40%;
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.dashcardtop{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    width: 28%;
    border: 1px solid yellow;
    border-radius: 8%;
    
}
.dashleftbot{
    height: 50%;
    width: 97%;
    border: 1px solid black;
    border-radius:10px;
    margin-left:2vh;
    margin-top: 4vh;
    background-color: white;
    box-shadow: 10px 10px 10px grey;
 
}
.duescard{
    background-image: url("../../contents/images/refundbg.jpg");
    background-size:cover;
    box-shadow: 10px 10px 10px grey;
}
.dashcardtop h1{
    font-family: cursive;
    color: #ffa500;
    width: fit-content;
    background-color: white;
}
.latestPayments{
    border-radius: 15px;
    width: 91%;
    box-shadow: 10px 10px 10px grey;
    height: 50%;
    border: 1px solid white;
    background-color: white;
}
.dashtotalprofit{
    width: fit-content;
    margin-left: 2vh;
    margin-top: -1vh;
    margin-bottom: -1.1vh;
    font-family: "Dancing Script", cursive;
    font-size: 5vh;
    color: black;
    text-shadow: 4px 4px 4px #ffa500;
    background-color: white;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
}
.smallfont{
    font-size: 5vh;
}
.paymentlistHead{
    width: fit-content;
    text-shadow: 2px 2px 2px #ffa500;
    text-decoration: dashed;
    font-size: 3vh;
    letter-spacing: 2px;
    margin: auto;
    margin-top: 2vh;
}
.PymentListConthead{
    padding: 1vh;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    
}
.PymentListConthead p{
    font-size: 2.6vh;
    margin-bottom: 0;
}
.dots{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}
.transCard{
    height: 15%;
    width: 100%;
    border: 1px solid #8b4513;
}
.transCard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 9px;
}
.transCard:hover{
    transform: scale(1.04);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.transCard p{
    margin: 0;
}
.transCard p{
    font-size: 2.3vh;
}
.namedatetrans{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.namedatetrans p{
    margin: 0;
    text-align: center;
}
.paymentdate{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8vh !important;
}
.pymnting{
    margin-left: -2vh;
    width: 18%;
    height: 100%;
}
.pymnting img{
    height: 100%;
    width: 90%;
}
.paymentlistHead{
    margin-top: 0;
    padding-top: 3.45vh;
    padding-bottom: 3.45vh;
    font-family: "Dancing Script", cursive;
    letter-spacing: 1px;

}
.paymentheadcont{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
}