.notespage{
    height: fit-content;
    width: 80%;
    background-color: #e7d8ee;
}
.notesDispCard{
    height: 25vh;
    width: 29%;
    border: 4px solid #ffa500;
    background-color: white;
    margin-left: 1vh;
    margin-bottom: 4vh;
    overflow: hidden;
    border-radius: 20px;
    padding: 2vh;
    box-shadow: 10px 10px 10px grey;
}
.notesDispCard h2,.notesDispCard p{
    margin-top: 0px;
    margin-bottom: 0;
}
.noteslistcont{
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.notesDispCard h2{
    font-family: cursive;
    font-size: 3vh;
    margin-bottom: 1vh;
    width: fit-content;
    border-bottom: 3px solid gray;
}
.notesDispCard p{
    margin-bottom: 2vh;
    font-family: "Dancing Script", cursive;
    font-size: 2.4vh;
    letter-spacing: 1px;
}
.notesDispCard:hover{
    background-color: white;
}
.notetitlecont{
    display: flex;
    align-items: right;
    justify-content: flex-end;
    gap: 30px;

}
.notespageicon{
    background-color: white;
    color: #ffa500;
}
.notespageicon:hover{
    transition: transform 0.2s ease-in-out;
    animation: jiggle 0.1s alternate infinite;
    cursor: pointer;
    color: #8b4513;
}
@keyframes jiggle {
    0% {
        transform: rotate(-10deg); 
    }
    100% {
        transform: rotate(10deg); 
        }
}